<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tello Drone Controller</title>
    <script src="/static/htmx/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="hz-container">
        <div hx-trigger="load, every 10s" hx-swap="innerHTML" hx-get="/drone/connection"> <!-- Side Bar -->
            {% include 'partials/drone_status.html' %}
        </div>


        <div class="vt-container trip-content-container"> <!-- Trip Content -->
            <div id="trip-content" class="trip-content">
                <p class="no-trip-selected">Select a trip</p>
            </div>
        </div>
        
        
        <div class="vt-container trip-list-container"> <!-- Trip List -->
            <button hx-get="/recording" hx-target="#trip-content" hx-swap="innerHTML" class="new-trip-btn">
                <img src="/static/assets/plus.svg" alt="New Trip">
            </button>
            <div id="trip-list" hx-get="/trips/list" hx-trigger="load" class="trip-list"> <!-- Trip List -->
            </div>
        </div>
    </div>
</body>
</html>
